<div class="flex flex-row">
    <button class="flex flex-row items-center button button__sm button__secondary" data-dialog-open="embed-modal">
      <%= t("embed_link", scope: "decidim.shared.embed_modal") %>
      <%= icon "link", class: "icon--after ml-2" %>
    </button>
    <%= link_to url, class: "flex flex-row items-center button button__sm button__secondary ml-4" do %>
      <%= t(".fullscreen") %>
      <%= icon "eye-line", class: "icon--after ml-2" %>
    <% end %>
</div>

<%= decidim_modal id: "embed-modal" do %>
  <div class="p-4">
    <p class="embed__code">
      <%= embed_code %>
    </p>
  </div>
<% end %>
