<!DOCTYPE html>
<html class="no-js">
<head>
  <title><%= decidim_page_title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag "decidim_core", "decidim_comparative_stats_widget" %>
  <%= javascript_pack_tag "decidim_core", "decidim_comparative_stats", "decidim_widget" %>
</head>

<body class="widget">
  <%= yield %>
  <div class="organization">
    <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
  </div>
  <%= render partial: "layouts/decidim/js_configuration" %>
  <%= render partial: "layouts/decidim/cors" if Decidim.cors_enabled %>
</body>
</html>
