<!DOCTYPE html>
<html class="no-js">
  <head>
    <title><%= decidim_page_title %></title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag "decidim_comparative_stats" %>
    <%= stylesheet_pack_tag "decidim_comparative_stats_widget" %>

  </head>

  <body class="widget">

    <%= yield %>

    <div class="organization">
      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
    </div>

    <%= javascript_pack_tag "decidim_widget" %>
  </body>
</html>
